body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.page {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    perspective: 2px;
    scroll-behavior: smooth;
}
.page::-webkit-scrollbar {
    display: none;
  }
p {
    font-family: "Abel", sans-serif;
}
.desktop-logo {
    width: 20%;
    object-fit: cover;
    max-height: 100px;
    min-width: 180px;
    max-width: 500px;
    margin: 0;
    padding: 0;
}
.mobile-logo {
    width: 100%;
    z-index: 10;
}
.header {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
}
.desktop {
    display: grid;
    grid-template-columns: 70% 30%;
}
.mobile {
    display: none;
}
ul {
    display: flex;
    position: relative;
}
ul > * {
    list-style: none;
    margin: 1em;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    text-align: center;
}
li > a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(86, 86, 86);
}
.footer {
    position: relative;
    bottom: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 44px;
}
.legal {
    display: flex;
    flex-wrap: wrap;
}
.legal > * {
    margin: 0px 0px 10px 10px;
    color: white;
    font-family: "Abel", sans-serif;
}
.social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.fa-brands {
    color: white;
}
.byWebH {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}
.webh-link {
    padding: .5em 0em;
    color: white;
    font-family: "Abel", sans-serif;
}
.blue-section {
    background-color: /*#E7F7FF*/ transparent;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.525);
}
h1 {
    font-family: "Righteous", sans-serif;
    font-size: 5em;
}
h2 {
    font-family: "Abel", sans-serif;
    font-size: 2em;
    text-align: center;
}
.clean-title {
    color: white;
    animation: titleanim .3s both .5s;
}
.pink-title {
    animation: colourchanger 5s both infinite !important;
}
@keyframes colourchanger {
    0% {
        color: rgb(255, 0, 238);
        opacity: 1;
    }
    10% {
        color: orange;
    }
    20% {
        color: red;
    }
    30% {
        color: yellow;
    }
    40% {
        color: rgb(0, 255, 0);
    }
    50% {
        color: rgb(0, 98, 255);
    }
    60% {
        color: rgb(183, 0, 255);
    }
    70% {
        color: violet;
        text-shadow: none;
    }
    80% {
        color: black;
        text-shadow: 0px 0px 5px white;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        color: white;
    }
}
.blue-title {
    color: #E7F7FF !important;
}
.happy-title {
    color: white;
    animation: titleanim .3s both 1s;
    margin-top: -1em;
}
.container-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.green-section {
    background-image: linear-gradient(135deg, #dae2cb, #FFE7F7);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.477);
    margin-bottom: 40px;
}
.happy-person {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 120%;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    filter: blur(2px) brightness(0.8);
}
.booking-button {
    background-color: #FFE7F7;
    font-family: "Abel", sans-serif;
    font-size: 2em;
    position: relative;
    padding: .5em 1.5em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    transition: .2s;
}
.booking-button:hover {
    background-color: #ddc8d6;
    box-shadow: none;
    cursor: pointer;
}
.home-services {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
}


.cleaning-service1 {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1em;
    padding: 1em;
    opacity: 0;
}
.cleaning-service1 > img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
}
.services-text {
    font-family: "Abel", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.services-text > * {

    margin: 0;
    padding: 0;
}

.cleaning-service2 {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1em;
    padding: 1em;
    opacity: 0;
}
.cleaning-service2 > img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
}
.services-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-text2 > * {
    font-family: "Abel", sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes titleanim {
    0% {
        opacity: 0;
    }
    50% {
        transform: scale(110%);
    }
    100% {
        opacity: 100%;
    }
}

.testimonials {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 80vw;
    scroll-snap-type: x mandatory;
    padding: 0em 2em;
}

.card {
    position: relative;
    left: 50%;
    min-width: 30%;
    max-width: 40%;
    padding: 1em;
    margin: 1em;
    background-color: #E7F7FF;
    scroll-snap-align:start;
    scroll-snap-stop: always;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}
.card > * {
    text-align: center;
    font-family: "Abel", sans-serif;
}
.contact-reminder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    margin: 1em;
}
.contact-reminder > button {
    width: 40%;
    min-width: 300px;
    padding: 0em;
    background-color: #FFE7F7;
    font-family: "Abel", sans-serif;
    font-size: 2em;
    position: relative;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.286);
}
.services-header {
    max-width: 100%;
    position: relative;
    padding: 1em;
    background-color: #E7F7FF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.433);
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service {
    max-width: 100%;
    max-width: 300px;
    position: relative;
    padding: 1em;
    border-bottom: 2px solid black;
}
.service > button {
    padding: .5em 1em;
    background-color: #FFE7F7;
    font-family: "Abel", sans-serif;
    font-size: 1em;
    position: relative;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.286);
}

.about-me-header {
    max-width: 100%;
    position: relative;
    padding: 1em;
    background-color: #FFE7F7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.433);
}
.about-me {
    max-width: 100%;
    position: relative;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-me > p {
    max-width: 600px;
}
.georgia-photo {
    width: 40%;
    max-width: 100%;
    min-width: 300px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.286);
}

.contact-header {
    max-width: 100%;
    position: relative;
    padding: 1em;
    background-color: #dae2cb;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.433);
}
.contact-form {
    margin: 2em 0em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.contact-form > * {
    width: 100%;
    max-width:300px;
    margin: .5em;
    font-family: "Abel", sans-serif;
    font-size: 1em;
}
.contact-form > button {
    padding: .5em 1em;
    background-color: #FFE7F7;
    font-family: "Abel", sans-serif;
    font-size: 1em;
    position: relative;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.286);
}

.contact-button {
    background-color: #FFE7F7;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
    font-size: 1rem;
    font-family: "Abel", sans-serif;
    padding: .5em 2em;

}
.contact-button:hover {
    cursor: pointer;
}

.cleaning-service {
    animation: disappear .5s both;
}
@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1) translateX(0px);
    }
    100% {
        opacity: 0;
        transform: scale(1.1) translateX(-50px);
    }
}

.show {
    animation: appear .5s both;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(1.1) translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0px);
    }
}


@media screen and (max-width: 600px) {
    .mobile {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    /*Fills a grid space in mobile header*/
    .nothing {
        width: 0px;
        height: 0px;
        margin: 0;
        padding: 0;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 75%;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
    }


    /*Menu Bars*/
    .bar1 {
        position: relative;
    }
    .bar2 {
        position: relative;
    }
    .bar3 {
        position: relative;
    }

    .bar1active {
        animation: cross1 1s both;
    }
    @keyframes cross1 {
        100% {
            transform: rotate(45deg);
        }
    }

    .bar2active {
        animation: fade-out 1s both;
    }
    @keyframes fade-out {
        100% {
            opacity: 0;
        }
    }

    .bar3active {
        animation: cross2 1s both;
    }
    @keyframes cross2 {
        0% {
            margin-top: 3px;
        }
        100% {
            transform: rotate(-45deg);
            margin-top: -13px;
        }
    }

    .returnbar1 {
        animation: returnbar1 1s both;
    }
    @keyframes returnbar1 {
        0% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .returnbar2 {
        animation: returnbar2 1s both;
    }
    @keyframes returnbar2 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .returnbar3 {
        animation: returnbar3 1s both;
    }
    @keyframes returnbar3 {
        0% {
            transform: rotate(-45deg);
            margin-top: -13px;
        }
        100% {
            transform: rotate(0deg);
            margin-top: 3px;
        }
    }


    .bar {
        background-color: white;
        height: 2px;
        width: 40px;
        margin: 3px 0px;
    }
    .mobile-nav {
        z-index: 0;
        margin-top: -20em;
        visibility: hidden;
        position: relative;
    }

    .mobile-nav.active {
        visibility: visible;
        opacity: 0;
        animation: fade-header 1s both ease;
    }
    @keyframes fade-header {
        80% {
            margin-top: 0em;
            opacity: 0;
        }
        100% {
            margin-top: 0em;
            opacity: 1;
        }
    }

    .mobile-nav.hideNav {
        animation: fade-back 1s both ease;
    }
    @keyframes fade-back {
        0% {
            margin-top: 0em;
            opacity: 1;
        }
        20% {
            opacity: 0;
        }
        100% {
            margin-top: -20em;
        }
    }

    ul {
        flex-direction: column;
        left: unset;
        right: 3em;
    }
    ul > * {
        text-align: right;
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .clean-title {
        font-size: 3em;
    }
    .happy-title {
        font-size: 3em;
    }
    .happy-person {
        width: 80%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    }
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .booking-button {
        background-color: #FFE7F7;
        font-family: "Abel", sans-serif;
        font-size: 1em;
        position: relative;
        padding: .5em 1.5em;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.296);
        transition: .2s;
    }
    .booking-button:hover {
        background-color: #ddc8d6;
        box-shadow: none;
        cursor: pointer;
    }


    .home-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .cleaning-service1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        position: relative;
        margin-bottom: 20px;
    }
    .cleaning-service1 > img {
        width: 80%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    }
    .services-text {
        font-family: "Abel", sans-serif;
        margin-left: 0em;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .services-text > * {
        margin: 0;
        padding: 0em 1em;
        text-align: center;
        margin: .3em;
    }
    
    .cleaning-service2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        position: relative;
        margin-bottom: 20px;
    }
    .cleaning-service2 > img {
        width: 80%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    }
    .services-text2 {
        grid-column: 1;
        grid-row: 1;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services-text2 > * {
        font-family: "Abel", sans-serif;
        text-align: center;
        margin: .3em;
        padding: 0em 1em;
    }


    .testimonials {
        overflow-x: auto;
        max-width: 90vw;
        scroll-snap-type: x mandatory;
    }
    .card {
        left: 0px;
        min-width: 60%;
        max-width: 90%;
        padding: 1em;
        margin: 1em;
        background-color: #E7F7FF;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
    .card > * {
        text-align: center;
    }
}
